.flex-container{
    background: rgb(99, 0, 133);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;


}

.flex-item{
    background-color: rgb(255, 251, 0);
    color: black;
    padding: 10px;
    margin: 20px;

}

@media screen and (max-width: 600px) {
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .flex-item{
        padding: 10px;
        margin: 20px;
    }


    
}